<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar producto</title>
</head>
<body>
    <form action="/api/productos" method="post">
        <label for="title">Nombre del producto</label>
        <input type="text" name="title">
        <label for="price">Precio del producto</label>
        <input type="number" name="price" min="0">
        <label for="thumbnail">Imagen del producto</label>
        <input type="text" name="thumbnail">
        <input type="submit" value="Enviar Datos">
        <a href="/api/productos"></a>
    </form>
</body>
</html>