<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Error al registrarse</title>
</head>
<body>
    <h1>Error al registrarse</h1>
    <p>No hemos podido registrarte. Recuerda que la contraseña debe tener al menos 8 caractéres o prueba con otro nombre de usuario, y <a href="/api/login">vuelve a intentarlo</a>.</p>
    <a href="/api/login">Ya tengo una cuenta.</a>
</body>
</html>